@font-face {
	font-family: "MyriadPro";
	src: url(fonts/MyriadPro.ttf);
}
@font-face {
	font-family: "MyriadProCond";
	src: url(fonts/MyriadProCond.otf);
}
@font-face {
	font-family: "Quicksand";
	src: url(fonts/Quicksand.otf);
}
@font-face {
	font-family: "Rokkitt";
	src: url(fonts/Rokkitt.ttf);
}

body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	overflow-x: hidden;
	font-family: "MyriadPro";
}
a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

header {
	width: 100%;
	height: 500px;
	background: url(img/header-bg-2.png) center no-repeat;
	background-size: cover;
	overflow: visible;
}
.header-nav {
	margin: 0 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 58px;
}
.nav-logo {
	color: #ffffff;
	font-family: "MyriadProCond";
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}
.nav-menu {
	display: flex;
	justify-content: space-between;
	width: 304px;
}
.menu-link {
	color: #ffffff;
	font-family: "MyriadProCond";
	font-size: 19px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	transition: 0.5s;
}
.active {
	text-decoration: underline;
}
.menu-link:hover {
	color: #1abc9c;
	transition: 0.5s;
}
.header-title {
	margin-top: 136px;
	margin-bottom: 0px;
	text-align: center;
	color: #ffffff;
	font-family: Rokkitt;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: -0.63px;
}
.line {
	height: 1px;
	width: 614px;
	background: #fff;
	display: block;
	margin: 10px auto 20px auto;
}
.header-subtitle {
	margin-top: 0;
	text-align: center;
	color: #ffffff;
	font-family: Quicksand;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: -0.35px;
}
.header-button {
	display: block;
	margin: 137px auto 0 auto;
	width: 218px;
	height: 56px;
	background-color: #1abc9c;
	color: #ffffff;
	font-family: Rokkitt;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -0.38px;
	line-height: 56px;
	text-align: center;
	transition: 0.5s;
}
.header-button:hover {
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(50,50,50,0.5);
	transition: 0.5s;
}
.intro-title {
	margin: 120px auto 0 auto;
	text-align: center;
	color: #1abc9c;
	font-family: "MyriadPro";
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.58px;
}
.intro-text {
	margin: 55px 18.33% 0 18.33%;
	text-align: center;
	color: #95a5a6;
	font-family: "MyriadPro";
	font-size: 18px;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: -0.29px;
}
.skills {
	margin: 75px 10% 60px 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.skill {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.skill-img {
	width: 64px;
	height: 64px;
	margin-bottom: 31px;
}
.img-1 {
	background: url(img/skills-1.png) no-repeat center;
}
.img-2 {
	background: url(img/skills-2.png) no-repeat center;
}
.img-3 {
	background: url(img/skills-3.png) no-repeat center;
}
.skill-title {
	color: #1abc9c;
	font-family: "MyriadPro";
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -0.32px;
	margin: 0;
}
.skill-text {
	margin-top: 40px;
	margin-bottom: 0;
	width: 250px;
	height: 214px;
	overflow: hidden;
	color: #95a5a6;
	font-family: "MyriadPro";
	text-align: justify;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: -0.22px;
	line-height: 30px;
}
.section-line {
	width: 960px;
	height: 1px;
	background-color: #e4e8e8; 
	margin: 0 auto;
}
.portfolio {
	padding-top: 74px;
	width: 100%;
}
.gallery {
	margin: 0 10%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 16.66%;
	grid-row-gap: 55px;
}
.image {
	width: 400px;
	height: 284px;
	position: relative;
}
.image:before {
	content: "\f002";
	font-family: FontAwesome;
	color: #fff;
	background: #1abc9c;
	padding: 20px;
	position: absolute;
	right: 20px;
	top: 20px;
	opacity: 0;
	transition: 0.5s;
}
.image:after {
	content: "";
	background: rgba(17, 187, 153, 0.5);
	position: absolute;
	bottom: 90px;
	width: 100%;
	height: 180px;
	opacity: 0;
	transition: 0.5s;
	transition-delay: 0.1s;
}
.hover-title {
	position: absolute;
	bottom: 0;
	background: #1abc9c;
	width: 100%;
	height: 90px;
	opacity: 0;
	transition: 0.8s;
}
.hover-title h4 {
	color: #ffffff;
	font-family: Rokkitt;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: -0.48px;
	margin: 20px auto auto 20px;
}
.hover-title p {
	color: #297465;
	font-family: "MyriadPro";
	font-size: 15px;
	font-weight: 400;
	letter-spacing: -0.24px;
	margin: 9px auto auto 20px;
}
.image:hover:before {
	opacity: 1;
	transition: 0.5s;
	transition-delay: 0.2s;
}
.image:hover:after {
	opacity: 1;
	height: 6px;
	transition: 0.5s;
}
.image:hover .hover-title {
	opacity: 1;
	transition: 0.5s;
	transition-delay: 0.1s;
}
.image:hover .inner {
	background: rgba(238, 187, 187, 0);
	transition: 0.5s;
}
.image-1 {
	background: url(img/portfolio-1.png) no-repeat center;
}
.image-2 {
	background: url(img/portfolio-2.png) no-repeat center;
}
.image-3 {
	background: url(img/portfolio-3.png) no-repeat center;
}
.image-4 {
	background: url(img/portfolio-4.png) no-repeat center;
}
.inner {
	background: rgba(238, 187, 187, 0.5);
	width: 100%;
	height: 100%;	
	transition: 0.8s;
}
.portfolio-button {
	display: block;
	margin: 75px auto 75px auto;
	width: 218px;
	height: 57px;
	background-color: #1abc9c;
	color: #ffffff;
	font-family: Rokkitt;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -0.38px;
	text-align: center;
	line-height: 65px;
	transition: 0.5s;
}
.portfolio-button:hover {
	width: 80%;
	transition: 0.5s;
	background: #e0b7b5;
}
.fa-arrow-right {
	margin-left: 10px;
}
.contact-title {
	margin: 73px auto 0 auto;
	text-align: center;
	color: #1abc9c;
	font-family: Rokkitt;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: -0.63px;
}
.contact-form {
	width: 768px;
	height: 350px;
	margin: 74px auto 150px auto;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.name, .email, .contact-area {
	transition: 0.5s;
}
.contact-form:hover .name {
	transform: 
		translate(-30px, -15px)
		scale(1.05);
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	transition: 0.5s;
}
.contact-form:hover .email {
	transform: 
		translate(30px, -15px)
		scale(1.05);
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	transition: 0.5s;
}
.contact-form:hover .contact-area {
	transform: 
		translateY(20px)
		scale(1.1);
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	transition: 0.5s;
}
.inputs {
	width: 100%;
	margin-bottom: 0;
}
.contact-form input {
	width: 369px;
	height: 70px;
	margin: 0;
	box-sizing: border-box;
	background-color: rgba(149, 165, 166, 0.26);
	border: none;
	color: #cecece;
	font-family: Rokkitt;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: -0.5px;
	padding-left: 30px;
}
.contact-form input:first-child {
	margin-right: 26px;
}
.contact-form textarea {
	width: 768px;
	height: 250px;
	padding: 30px;
	margin-top: 30px;
	box-sizing: border-box;
	background-color: rgba(149, 165, 166, 0.26);
	border: none;
	color: #cecece;
	font-family: Rokkitt;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: -0.5px;
}
footer {
	width: 100%;
	height: 240px;
	background: #1abc9c;
	position: relative;
}
.footer-socials {
	margin: -30px 17.5% 74px 17.5%;
	display: flex;
	justify-content: space-between;
	width: 768px;
	position: absolute;
}
.social	{
	height: 100px;
	width: 100px;
	border: 5px solid #75d4c1;
	background: #f6f6f6;
	transition: 0.5s;
}
.social i {
	color: #1abc9c;
	display: flex;
	justify-content: center;
	line-height: 100px;
	transition: 0.5s;
}
.social:hover {
	border-radius: 50%;
	border: 5px solid #e0b7b5;
	transform: rotate(360deg);
	transition: 0.5s;
}
.social:hover .soc {
	transform: rotate(-360deg);
	transition: 0.5s;
	color: #e0b7b5;
}
.fa-twitter {
	font-size: 40px;
}
.fa-dribbble {
	font-size: 40px;
}
.fa-facebook-f {
	font-size: 40px;
}
.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 146px;
}
.rights, .label {
	color: #ffffff;
	font-family: Rokkitt;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: -0.38px;
}
